@charset "UTF-8";

/* sva-algemene-elektriciteitswerken */
@font-face {
  font-family: "sva-algemene-elektriciteitswerken";
  src:url("fonts/sva-iconfont.eot");
  src:url("fonts/sva-iconfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/sva-iconfont.woff") format("woff"),
    url("fonts/sva-iconfont.ttf") format("truetype"),
    url("fonts/sva-iconfont.svg#1482934669") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "sva-algemene-elektriciteitswerken" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sva-algemene-elektriciteitswerken" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\6c";
}
